body {
	background-color: gray;
	color: white;
	font-family: Arial;
}
p {
	color: #494951;
}
.LAM {
	background-color: green;
	margin: 0 4;
	padding: 8px 13px;
	font-family: Arial;
	color: white;
	border-radius: 10px;
	border: 3px solid green;
}
.CM {
	background-color: blue;
	margin: 0 4;
	padding: 8px 13px;
	font-family: Arial;
	color: white;
	border-radius: 10px;
	border: 3px solid blue;
}
.HHS {
	background-color: purple;
	margin: 0 4;
	padding: 8px 13px;
	font-family: Arial;
	color: white;
	border-radius: 10px;
	border: 3px solid purple;
}
.IG {
	background-color: red;
	margin: 0 4;
	padding: 8px 13px;
	font-family: Arial;
	color: white;
	border-radius: 10px;
	border: 3px solid red;
}
.GC {
	background-color: yellow;
	margin: 0 4;
	padding: 8px 13px;
	font-family: Arial;
	color: white;
	border-radius: 10px;
	border: 3px solid yellow;
}
.CTA {
	background-color: orange;
	margin: 0 4;
	padding: 8px 13px;
	font-family: Arial;
	color: white;
	border-radius: 10px;
	border: 3px solid orange;
}
